#links a:visited, #links a:link {	  
    color: #FFFFFF
}

#content-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
#content-links a {
  padding: 0.4em 0.8em;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}
#content-links a:hover {
  border-bottom: 2px solid #007acc;
  color: #007acc;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
    align-items: start;
    justify-items: center; 
}
.image-grid img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: .25rem;
}

.link-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 180px;
}
.link-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 0.5em;
}
.link-card.keep-size img {
    width: auto;
    height: auto;
    object-fit: initial;
}
.link-card:hover {
    transform: scale(1.05);
}
.link-card:hover img {
    transform: scale(1.1);
}
.link-card.keep-size:hover img {
    transform: scale(1.05);
}

.link-row {
  display: flex;
  gap: 0.5rem;
}

summary h3::before {
    content: "▶";
    display: inline-block;
    margin-right: 0.5em;
    transition: transform 0.2s ease;
}
details[open] summary h3::before {
    transform: rotate(90deg);
}

.embed-container {
    position: relative; 
    padding-bottom: 56.25%;
    height: 0; 
    overflow: hidden; 
    width: 100%;
    height: auto;
}
.embed-container iframe,
.embed-container img {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}
.embed-container.ratio4x3 {
    padding-bottom: 75%;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  color: #63c7b2;
  text-shadow: 0 0 24px rgba(0,0,0,0.9);

  pointer-events: none;
}



.site-footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.site-footer nav a + a {
    margin-left: 1rem;
}

.fineprint {
  font-size: .8rem;
}

.page-header input,
.page-header button {
  color: #606c71;
  background-color: #ffffff;
}
