*.jpg -text
*.png -text
*.md text !filter !merge !diff
*.sh text !filter !merge !diff
*.html text !filter !merge !diff
*.css text !filter !merge !diff
*.yml text !filter !merge !diff
*.gitignore text !filter !merge !diff
