<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
  <meta name="twitter:card" content="player" />
  <meta name="twitter:creator" content="@ewolff" />
  <meta property="og:url" content="{{ page.url }}" /
  <meta property="twitter:title" content="{{ page.title }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="{{ page.type | default: "article" }}" />
  <meta property="twitter:player" content="https://www.youtube.com/embed/{{ page.video }}" />
  <meta property="twitter:player:width" content="480" />
  <meta property="twitter:player:height" content="270" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="twitter:description" content="{{ page.description }}" />
</head>
