<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  {% feed_meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/custom1.css">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@ewolff" />
  <meta property="og:url" content="{{ page.url }}" /
  <meta property="twitter:title" content="{{ page.title }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="{{ page.type | default: "article" }}" />
  {% if page.twitterimage %}
  <meta property="og:image" content="{{ site.url }}/{{ page.twitterimage }}" />
  <meta property="twitter:image" content="{{ site.url }}/{{ page.twitterimage }}" />
  <meta property="twitter:image:alt" content="{{ page.twitterimagealt }}" />
  {% else %}
  <meta property="og:image" content="{{ site.url }}/twitter-image.jpg" />
  <meta property="twitter:image" content="{{ site.url }}/twitter-image.jpg" />
  <meta property="twitter:image:alt" content="Eberhard Wolff vor einem Software Architektur im Stream-Hintergrund" />
  {% endif %}
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="twitter:description" content="{{ page.description }}" />
</head>
