<head>
  <meta charset="UTF-8">
  {%- if page.title !=  "Software-Architektur im Stream" %} 
  <title>{{-page.title }} | Software Architektur im Stream</title>
  {% else %}
  <title>Software Architektur im Stream</title>
  {% endif %}
  {%- feed_meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{-site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{-site.baseurl }}/css/cayman.css">
  <link rel="stylesheet" href="{{-site.baseurl }}/css/custom1.css">
  <meta property="og:url" content="{{-site.url }}{{-page.url }}" />
  <meta property="og:title" content="{{-page.title }} | Software Architektur im Stream" />
  <meta property="og:type" content="{{-page.type | default: "article" }}" />
  {%- if page.twitterimage %}
  <meta property="og:image" content="{{-site.url }}/{{-page.twitterimage }}" />
  {%- else %}
  <meta property="og:image" content="{{-site.url }}/twitter-image.jpg" />
  {%- endif %}
  <meta property="og:description" content="{{-page.description }}" />
</head>
