<head>
  <meta charset="UTF-8">
  <title>{{-calculated_title }}</title>
  {%- feed_meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{-site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{-site.baseurl }}/css/cayman.css">
  <link rel="stylesheet" href="{{-site.baseurl }}/css/custom1.css">
  <meta property="og:url" content="{{-site.url }}{{-page.url }}" />
  <meta property="og:title" content="{{-calculated_title }}" />
  <meta property="og:type" content="{{-page.type | default: "article" }}" />
{%- if episode.thumbnail %}
  <meta property="og:image" content="{{-site.url }}/thumbnails/{{-episode.thumbnail }}" />  
{%- else %}
  <meta property="og:image" content="{{-site.url }}/twitter-image.jpg" />
{%- endif %}
  <meta property="og:description" content="{{-page.description }}" />
</head>

