<section class="page-header">
  <h1 class="project-name">{{-calculated_title | default: page.title }}</h1>
{%- if page.tagline %}
  <h2 class="project-tagline">{{-page.tagline }}</h2>
{%- else %}
  <h2 class="project-tagline">{{-site.tagline }}</h2>
{%- endif %}


  <section id="links">
    <a href="/index.html">Home</a>
    &nbsp;
    <a href="/chronologisch.html">Folgen</a>
    &nbsp;
    <a href="/tags.html">Tags</a>
    &nbsp;
    <a href="/plan.html">Planung</a>
    &nbsp;
    <a href="/podcast.html">Podcast</a>
    &nbsp;
    <a href="/sketchnote-buch">Buch</a>
    <br />
    <br />
    <a href="/beruf.html">Architektur als Beruf</a>
    &nbsp;
    <a href="https://software-architektur-im-stream.myspreadshop.de/">Merch</a>
    &nbsp;
    <a href="/feed.xml">Feed</a>
    <br />
    <br />
    <form method="get" id="search" target="_blank" action="https://duckduckgo.com/">
      <input type="hidden" name="k7" value="#ffffff"/>
      <input type="hidden" name="k8" value="#222222"/>
      <input type="hidden" name="k9" value="#00278e"/>
      <input type="hidden" name="kx" value="#20692b"/>
      <input type="hidden" name="kj" value="#8eecf5"/>
      <input type="hidden" name="kt" value="e"/>
      <input type="hidden" name="sites" value="software-architektur.tv"/>
      <input type="text" name="q" placeholder="Suche" />
      <button type="submit">🔍DuckDuckGo</button>
    </form>
  </section>
</section>
