<script type="text/javascript">
(function(window, document, dataLayerName, id) {
window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName);var qPString=qP.length>0?("?"+qP.join("&")):"";
tags.async=!0,tags.src="https://software-architektur.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
!function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
})(window, document, 'dataLayer', 'fc80a353-ef3c-45fc-b60f-f417d73ca50d');
</script>

<section class="page-header">
  <h1 class="project-name">{{-calculated_title | default: page.title }}</h1>
{%- if page.tagline %}
  <h2 class="project-tagline">{{-page.tagline }}</h2>
{%- else %}
  <h2 class="project-tagline">{{-site.tagline }}</h2>
{%- endif %}


  <section id="links">
    <a href="/index.html">Home</a>
    &nbsp;
    <a href="/chronologisch.html">Folgen</a>
    &nbsp;
    <a href="/tags.html">Tags</a>
    &nbsp;
    <a href="/plan.html">Planung</a>
    &nbsp;
    <a href="/podcast.html">Podcast</a>
    &nbsp;
    <a href="/sketchnote-buch">Buch</a>
    <br />
    <br />
    <a href="/beruf.html">Architektur als Beruf</a>
    &nbsp;
    <a href="https://software-architektur-im-stream.myspreadshop.de/">Merch</a>
    &nbsp;
    <a href="/feed.xml">Feed</a>
  </section>
</section>
