<div class="embed-container youtube-container" youtube-video-id="{{-include.youtube-video-id}}" >
    <img src="{{-include.image-url}}" width="832" />
  <div class="play-icon">▶<br /></div>
</div>

<input type="checkbox" class="youtube-consent" value="no">
YouTube-Video eingebettet anzeigen 
<a href="/datenschutzhinweise.html">Datenschutzerklärung</a>
<br />
<a href="https://www.youtube.com/watch?v={{-include.youtube-video-id}}" >Video bei YouTube</a>

<script src="/js/embed-youtube.js" defer></script>
