<center>
  <div class="embed-container" youtube-video-id="{{-include.youtube-video-id}}" >
  <a href="https://www.youtube.com/watch?v={{-include.youtube-video-id}}" >
    <img src="{{-include.image-url}}" width="832" />
  </a>
  <div class="play-icon">▶<br /></div>
  </div>
</center>

<div class="fineprint">Durch Klick auf das '▶'-Symbol willigen Sie ein, dass
    Inhalte von YouTube angezeigt werden. Dabei können
    personenbezogene Daten an Google übertragen und Cookies gesetzt
    werden. Details finden Sie in
    unserer <a href="/datenschutzhinweise.html">Datenschutzerklärung</a>.
</div>
