<!DOCTYPE html>
<html lang="de">
  
  {%- include head-folge.html %}

  <body>
    {%- include page-header.html %}
	  
    <section class="main-content">

{%- assign zusammenfassung_path = "zusammenfassung/" | append: page.episode_id | append: ".md" %}
{%- assign zusammenfassung = site.pages | where: "path", zusammenfassung_path | first %}
{%- if zusammenfassung %}
{%- if page.tags contains "English" %}
      <section id="content-links">
	<a href="{{-page.url }}">Episode (Video/Podcast)</a>
	&nbsp;
	<a href="/zusammenfassung/{{-page.episode_id }}.html">Summary</a>
	&nbsp;
	<a href="/stichpunkte/{{-page.episode_id }}.html">Bullet Points</a>
	&nbsp;
	<a href="/transcriptions/{{-page.episode_id }}.html">Transcript</a>
      </section>
{%- else %}
      <section id="content-links">
	<a href="{{-page.url }}">Folge (Video/Podcast)</a>
	&nbsp;
	<a href="/zusammenfassung/{{-page.episode_id }}.html">Zusammenfassung</a>
	&nbsp;
	<a href="/stichpunkte/{{-page.episode_id }}.html">Stichpunkte</a>
	&nbsp;
	<a href="/transcriptions/{{-page.episode_id }}.html">Transkript</a>
      </section>      
{%- endif %}      
{%- endif %}
      
    {{-content }}

Tags:      
{%- if page.tags %}
{%- for tag in page.tags %}
  <a href="/tags.html#{{-tag }}">{{-tag }}</a>
{%- endfor %}      
{%- endif %}

<br />
      
{%- if page.thumbnail %}
    {{-page.date | date: "%Y-%m-%d"}} <a href="{{-site.url }}/thumbnails/{{-page.thumbnail }}">Thumbnail</a>
{%- endif %}
      
{%- if page.peertube %}
<h2 id="peertube">PeerTube Video - no Big Tech!</h2>

<center>
    <div class="embed-container" peertube-video-link="{{-page.peertube}}">
    {%- assign peertube_link = page.peertube | replace: "videos/embed/", "w/" %}
      <a href="{{-peertube_link}}" >
	<img src="{{-site.url }}/thumbnails/{{-page.thumbnail }}" width="832"
	     />
      </a>
  <div class="play-icon">▶<br /></div>
</center>
{%- endif %}

<p>Durch Klick auf das „Video abspielen“-Symbol willigen Sie ein, dass
    Inhalte von Tchns.de angezeigt werden. Dabei können
    personenbezogene Daten übertragen werden und Daten im Local
    Storage gespeichert werden. Details finden Sie in
    unserer <a href="/datenschutzhinweise.html">Datenschutzerklärung</a>.
</p>


{%- if page.video %}
<h2 id="youtube">YouTube Video</h2>

<center>
  <div class="embed-container" youtube-video-id="{{-page.video}}" >
  <a href="https://www.youtube.com/watch?v={{-page.video}}" >
    <img src="{{-site.url }}/thumbnails/{{-page.thumbnail }}" width="832"
    />
  </a>
  <div class="play-icon">▶<br /></div>
  </div>
</center>

<p>Durch Klick auf das „Video abspielen“-Symbol willigen Sie ein, dass
    Inhalte von YouTube angezeigt werden. Dabei können
    personenbezogene Daten an Google übertragen und Cookies gesetzt
    werden. Details finden Sie in
    unserer <a href="/datenschutzhinweise.html">Datenschutzerklärung</a>.
</p>

<script>
document.querySelectorAll(".embed-container").forEach(container => {
  const videoId = container.getAttribute("youtube-video-id");
  const link = container.querySelector("a");
  if (videoId) {
    link.addEventListener("click", event => {
      event.preventDefault();
      const iframe = document.createElement("iframe");
      iframe.setAttribute("src", "https://www.youtube-nocookie.com/embed/" + videoId + "?autoplay=1");
      iframe.setAttribute("frameborder", "0");
      iframe.setAttribute("width", "560");
      iframe.setAttribute("height", "315");
      iframe.setAttribute("allow", "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen");
      container.innerHTML = "";
      container.appendChild(iframe);
    })
  }
  const peertubeVideoLink = container.getAttribute("peertube-video-link");
  if (peertubeVideoLink) {
    link.addEventListener("click", event => {
      event.preventDefault();
      const iframe = document.createElement("iframe");
      iframe.setAttribute("src", peertubeVideoLink+"?autoplay=1");
      iframe.setAttribute("frameborder", "0");
      iframe.setAttribute("width", "560");
      iframe.setAttribute("height", "315");
      iframe.setAttribute("allowfullscreen", "");
      iframe.setAttribute("sandbox", "allow-same-origin allow-scripts allow-popups");
      container.innerHTML = "";
      container.appendChild(iframe);
    })
  }
});
</script>

{%- endif %}

{%- if page.sketchnote-video %}
{%- if page.sketchnote-video-header %}
<h2 anchor="sketchnotes">{{-page.sketchnote-video-header }}</h2>
{%- else %}
<h2 anchor="sketchnotes">Live Sketchnoting</h2>
{%- endif %}
<center>
  <div class="embed-container">
    <iframe width="560" height="315"
src="https://www.youtube-nocookie.com/embed/{{-page.sketchnote-video }}" frameborder="0"
allow="accelerometer; autoplay; encrypted-media; gyroscope;
       picture-in-picture; fullscreen"></iframe>
    </div>
</center>
{%- endif %}

{%- if page.mp3 %}
<h2 id="podcast">Podcast</h2>

{%- if page.tags contains "English" %}
This is the audio as a podcast.
{%- else %}
Hier findet sich das Audio als Podcast.
{%- endif %}

<center>
<iframe
style="width:100%;min-width:275px;min-height:320px;max-width:475px;max-height:400px;border:0;overflow:hidden"
src="{{-page.embedded-mp3 }}"></iframe>
</center>
 
<a href="{{-page.mp3 }}">MP3 Download</a>

<br />

{%- if page.tags contains "English" %}
<a href="/podcast.html">Information and feeds for the Podcast</a>
{%- else %}
<a href="/podcast.html">Infos und Feeds zum Podcast</a>
{%- endif %}

{%- endif %}

{%- include page-footer.html %}

    </section>

  </body>
</html>
