<!DOCTYPE html>
<html lang="de">
  
  {% include head-folge.html %}

  <body>
    {% include page-header.html %}
	  
    <section class="main-content">
<!-- {{ page.episode_id }} -->
{% assign blog_path = "blog_post/" | append: page.episode_id | append: ".md" %}
{% assign blog = site.pages | where: "path", blog_path | first %}
{% if blog %}     
      <section id="content-links">
	<a href="{{ page.url }}">Folge</a>
	&nbsp;
	<a href="/blog_post/{{ page.episode_id }}.html">Blog Post</a>
	&nbsp;
	<a href="/summary/{{ page.episode_id }}.html">Zusammenfassung</a>
	&nbsp;
	<a href="/transcriptions/{{ page.episode_id }}.html">Transkript</a>
      </section>
{% endif %}
      
    {{ content }}

{% if page.thumbnail %}
    {{ page.date | date: "%Y-%m-%d"}} <a href="{{ site.url }}/thumbnails/{{ page.thumbnail }}">Thumbnail</a>
{% endif %}

{% if page.peertube %}
<h2 id="peertube">PeerTube Video - no Big Tech!</h2>

<center>
    <div class="embed-container">
      <iframe title="{{ page.title }}"
	width="560" height="315"
	src="{{page.peertube}}"
	frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
    </div>
</center>
{% endif %}
    
{% if page.video %}
<h2 id="youtube">YouTube Video</h2>

<center>
  <div class="embed-container">
    <iframe width="560" height="315"
src="https://www.youtube-nocookie.com/embed/{{ page.video }}" frameborder="0"
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen" ></iframe>
    </div>
</center>
{% endif %}

{% if page.sketchnote-video %}
{% if page.sketchnote-video-header %}
<h2 anchor="sketchnotes">{{ page.sketchnote-video-header }}</h2>
{% else %}
<h2 anchor="sketchnotes">Live Sketchnoting</h2>
{% endif %}
<center>
  <div class="embed-container">
    <iframe width="560" height="315"
src="https://www.youtube-nocookie.com/embed/{{ page.sketchnote-video }}" frameborder="0"
allow="accelerometer; autoplay; encrypted-media; gyroscope;
       picture-in-picture; fullscreen"></iframe>
    </div>
</center>

{% endif %}

{% if page.mp3 %}
<h2 id="podcast">Audio als Podcast</h2>

<center>
<iframe
style="width:100%;min-width:275px;min-height:320px;max-width:475px;max-height:400px;border:0;overflow:hidden"
src="{{ page.embedded-mp3 }}"></iframe>
</center>
 
<a href="{{ page.mp3 }}">MP3 Download</a>

<br />

<a href="/podcast.html">Infos und Feeds zum Audio als Podcast</a>

{% endif %}

{% include page-footer.html %}

    </section>

  </body>
</html>
