<!DOCTYPE html>
<html lang="de">
  
  {% include head-folge.html %}

  <body>
    {% include page-header.html %}

{% assign episode_id = page.url | split: '/' | last | remove: '.html' %}
{% assign summary_path = '/_transcriptions/' |append: episode_id | append: '/summary.md' %}
{% if site.data.summaries contains episode_id %}
  {% include transcriptions/{{ episode_id }}/summary.md %}
{% endif %}

	  
	  {{page.url}}<hr />
	  {{page.name}} / {{episode_id}} / {{summary_path}} / {{summary_file}} <hr />
	  
    <section class="main-content">
<ul>
{% if page.peertube %}
	<li><a href="#peertube">PeerTube Video - no Big Tech!</a></li>
{% endif %}
{% if page.video %}
	<li><a href="#youtube">YouTube Video</a></li>
{% endif %}
{% if page.mp3 %}
	<li><a href="#podcast">Audio als Podcast</a></li>
{% endif %}
{% if page.sketchnote-video %}
	<li><a href="#sketchnotes">Sketchnotes</a></li>
{% endif %}
{% if summary_file %}
	<li><a href="#summary">Zusammenfassung</a></li>
{% endif %}
</ul>	    

	    
    {{ content }}

    {{ page.date | date: "%Y-%m-%d"}} <a href="{{ site.url }}/thumbnails/{{ page.thumbnail }}">Thumbnail</a>


{% if page.peertube %}
<h2 id="peertube">PeerTube Video - no Big Tech!</h2>

<center>
    <div class="embed-container">
      <iframe title="{{ page.title }}"
	width="560" height="315"
	src="{{page.peertube}}"
	frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
    </div>
</center>
{% endif %}
    
{% if page.video %}
<h2 id="youtube">YouTube Video</h2>

<center>
  <div class="embed-container">
    <iframe width="560" height="315"
src="https://www.youtube-nocookie.com/embed/{{ page.video }}" frameborder="0"
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen" ></iframe>
    </div>
</center>
{% endif %}

{% if page.sketchnote-video %}
{% if page.sketchnote-video-header %}
<h2 anchor="sketchnotes">{{ page.sketchnote-video-header }}</h2>
{% else %}
<h2 anchor="sketchnotes">Live Sketchnoting</h2>
{% endif %}
<center>
  <div class="embed-container">
    <iframe width="560" height="315"
src="https://www.youtube-nocookie.com/embed/{{ page.sketchnote-video }}" frameborder="0"
allow="accelerometer; autoplay; encrypted-media; gyroscope;
       picture-in-picture; fullscreen"></iframe>
    </div>
</center>

{% endif %}

{% if page.mp3 %}
<h2 id="podcast">Audio als Podcast</h2>

<center>
<iframe
style="width:100%;min-width:275px;min-height:320px;max-width:475px;max-height:400px;border:0;overflow:hidden"
src="{{ page.embedded-mp3 }}"></iframe>
</center>

<a href="{{ page.mp3 }}">MP3 Download</a>

<br />

<a href="/podcast.html">Infos und Feeds zum Audio als Podcast</a>

{% endif %}

{% if summary_file2 %}
  {% include_relative ../transcriptions/{{ episode_id }}/summary.md %}
{% endif %}

{% include page-footer.html %}

    </section>

  </body>
</html>
